<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="ion-text-center">
      <ion-avatar class="login-avatar">
        <img alt="Logo" src="assets/icon/favicon.png" />
      </ion-avatar>
      <h2>¡Bienvenido!</h2>
    </div>

    <div class="input-container">
      <ion-input 
        label="Correo electrónico" 
        label-placement="floating" 
        fill="outline" 
        placeholder="ejemplo@correo.com"
        type="email"
        formControlName="email">
      </ion-input>
      <div class="error-container">
        <ion-text color="danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">
          <small>El correo electrónico es requerido</small>
        </ion-text>
        <ion-text color="danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']">
          <small>Por favor, ingrese un correo electrónico válido</small>
        </ion-text>
      </div>
    </div>

    <div class="input-container">
      <ion-input 
        label="Contraseña" 
        label-placement="floating" 
        fill="outline" 
        placeholder="********"
        type="password"
        formControlName="password">
      </ion-input>
      <div class="error-container">
        <ion-text color="danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">
          <small>La contraseña es requerida</small>
        </ion-text>
        <ion-text color="danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']">
          <small>La contraseña debe tener al menos 6 caracteres</small>
        </ion-text>
      </div>
    </div>

    <div class="ion-text-center">
      <ion-button fill="clear" size="small" routerLink="/forgot-password">
        ¿Olvidaste tu contraseña?
      </ion-button>
    </div>

    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="!loginForm.valid">
      Iniciar Sesión
    </ion-button>

    <div class="ion-text-center ion-padding-top" style="display: flex; flex-direction: column; align-items: center; gap: 8px;">
      <ion-text>¿No tienes una cuenta?</ion-text>
      <ion-button fill="clear" routerLink="/register">
        Regístrate
      </ion-button>
    </div>
  </form>
<!--borrar-->
<!--borrar-->
  <ion-button expand="block" color="medium" (click)="autoCompletar()">
    Autocompletar
  </ion-button>
<!--borrar-->
<!--borrar-->
</ion-content>