/* login.page.scss */
.login-avatar {
    margin: 20px auto;
    width: 20px auto;
    height: 20px auto;
  }
  
  form {
    max-width: 500px;
    margin: auto;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 30px;
  }
  
  .error-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    
    ion-text {
      display: block;
      text-align: left;
      
      small {
        font-size: 0.85em;
        
        @media (max-width: 576px) {
          font-size: 0.75em;
        }
        
        @media (min-width: 577px) and (max-width: 768px) {
          font-size: 0.8em;
        }
        
        @media (min-width: 769px) {
          font-size: 0.85em;
        }
      }
    }
  }
  
  ion-input {
    margin-bottom: 0;
  }
  
  ion-button[type="submit"] {
    margin-top: 20px;
  }
  
  ion-avatar {
    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }
  ion-content {
    --padding-top: 56px;
  }

  