<ion-tabs>
  <ion-tab tab="home">
    <div id="home-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Home</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">Contenido</div>
      </ion-content>
    </div>
  </ion-tab>

  <ion-tab tab="ofertas">
    <div id="radio-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Ofertas</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">Contenido</div>
      </ion-content>
    </div>
  </ion-tab>

  <ion-tab tab="reservas">
    <div id="library-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Reservas</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">Contenido</div>
      </ion-content>
    </div>
  </ion-tab>

  <ion-tab tab="perfil">
    <ion-header>
      <ion-toolbar>
        <ion-title>Perfil</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div *ngIf="userData; else loading">
        <h1>Bienvenido, {{ userData.nombres }}</h1>
        <p>Correo: {{ userData.correo }}</p>
        <p>Nacimiento: {{ userData.fechaNacimiento }}</p>
      </div>
      
      <ng-template #loading>
        <p>Cargando datos...</p>
      </ng-template>
      

      <ion-button expand="full" color="danger" (click)="cerrarSesion()">Cerrar sesión</ion-button>
    </ion-content>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="ofertas">
      <ion-icon name="pricetag-outline"></ion-icon>
      Ofertas
    </ion-tab-button>
    <ion-tab-button tab="reservas">
      <ion-icon name="calendar-outline"></ion-icon>
      Reservas
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
